ARABIC_BOT_TOKEN=
ARABIC_CHAT_ID=
ARABIC_BOT_WEBHOOK_SECRET=
ARABIC_SCREENSHOTS_DIR=

TAJWEED_BOT_TOKEN=
TAJWEED_CHAT_ID=
TAJWEED_SCREENSHOTS_DIR=

PERSISTENT_BOT_TOKEN=
PERSISTENT_CHAT_ID=

RECITATION_BOT_TOKEN=
RECITATION_CHAT_ID=

PUBLIC_TELEGRAM_ENABLED=true
SAVE_LOCAL=true
PROGRESSION_DIR=


GITHUB_TOKEN=
GITHUB_GIST_ID=

PUBLIC_WORD_KNOWLEDGE_HIGHLIGHTS_ENABLED=false
PUBLIC_WORD_RATIO_PROGRESS_BARS_ENABLED=true
PUBLIC_SHOW_RATIO_PROGRESS_BAR_FOR_NON_ROOT=false
PUBLIC_SHOW_RATIO_PROGRESS_BACKGROUND=true


# ANTHROPIC SETTINGS
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
ANTHROPIC_MAX_TOKENS=
ANTHROPIC_TEMPERATURE=
ANTHROPIC_STREAM=


